
@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
body{
	background:#fff;
	color:#05112B;
	font:14px/22px "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
        padding: 0px !important;
        
}

/* Standard Styles Starts */

a{
	color:#5F7CA3;
}
a:hover{
	color:#05112B;
}
a:focus{
	outline:none;
}
h1, h2, h3, h4, h5, h6{
	font-glyphiconmily:"Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
	color: #05112B;
}
h1{
	font-size:38px;
}
h2{
	font-size:32px;
}
h3{
	font-size:26px;
}
h4{
	font-size:20px;
}
h5{
	font-size:18px;
}
h6{
	font-size:14px;
}
.main-heading{
	font-size:30px;
}
.main-heading span{
	font-size:18px;
	color:#878a8c;
}
.main-heading2{
	font-size:24px;
}
.main-heading, 
.main-heading2, 
.sub-heading{
	text-transform:uppercase;
}
.sub-heading{
	font-size:24px;
	padding:10px 0;
}

.header-top li, 
.header-top .btn-link, 
#main-menu.navbar, 
#search .input-group .form-control, 
#cart .btn, 
.dropdown-menu, 
.product-head, 
.product-col .caption h4, 
.product-col .price, 
.product-col .btn-cart, 
.breadcrumb, 
.side-heading, 
.list-group-item, 
.product-filter, 
.pagination, 
.product-info .product-details, 
.tabs-panel .nav-tabs{
	font-glyphiconmily: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
}

hr{
	border-color:#8c8f92;
}

/* Form & Buttons Styles Starts */

.btn-black {
	background-color: #05112b;
}
.btn-black:hover, 
.btn-black:focus,
.btn-black:active,
.btn-black.active, 
.btn-main {
	background-color: #5F7CA3;
}
.btn-main:hover, 
.btn-main:focus,
.btn-main:active,
.btn-main.active {
	background-color: #3e9144;
}
.btn-black, 
.btn-black:hover, 
.btn-black:focus,
.btn-black:active,
.btn-black.active, 
.btn-main, 
.btn-main:hover, 
.btn-main:focus,
.btn-main:active,
.btn-main.active {
	color:#fff;
}

/* Header Area Styles Starts */

#header-area{
	background-image:url(../img/bg-header.jpg);
	margin-bottom:3px;
            background-position: center;
    background-repeat: no-repeat;
    background-color: #080808;

}
	.header-top{
		background:#05112B;
	}
	
/* Header Links Styles Starts */

		.header-links ul{
		}
			.header-links li{
				display:inline-block;
			}
			.header-links li .glyphicon{
				margin-right:3px;
			}
			.header-links li, 
			.header-links li a{
				color:#fff;
			}
			.header-links li a{
				padding:12px 15px 12px 0;
			}
                        .header-links li .contacts{
                            cursor:pointer;
                        }
			.header-links li a:hover, 
			.header-links li a:focus, 
			.header-links li.active a{
				background:none;
				color: #5f7ca3  ;
			}
			
/* Currency & Languages Drop Down Styles Starts */

	.header-top .btn-link{
		color:#fff;
		text-decoration:none;
		margin:4px 0 0 0;
	}
	.header-top .open .btn-link{
		color:#72d279;
	}
		.header-top .btn-link i.glyphicon{
			margin-left:5px;
		}
		
/* Main Header & Search Styles Starts */

	.main-header{
		padding:25px 0 35px;
	}
		#logo{
			margin-top: 15px;
		}
		#logo .img-responsive{
			
                    height: 122px;
                    width: 260px;
                        
		}
		#search{
			margin:12px 0 0 0;
		}
		#search .input-group{
		}
			#search .input-group .form-control{
				background:none;
				border:solid #5F7CA3;
				border-width:1px 0 1px 1px;
				color:#878a8c;
				-webkit-border-radius:0;
				   -moz-border-radius:0;
				        border-radius:0;
				-webkit-box-shadow:none;
				   -moz-box-shadow:none;
				     box-shadow:none;
			}
			#search .input-group .btn{
				background:none;
				border:solid #5F7CA3;
				border-width:1px 1px 1px 0;
				color:#5F7CA3;
				height: 46px;
				-webkit-border-radius:0;
				   -moz-border-radius:0;
				        border-radius:0;
				-webkit-box-shadow:none;
				   -moz-box-shadow:none;
				     box-shadow:none;
			}
			
/* Cart Style Starts */	

	#cart .btn{
                
		background:#000;
		border:1px solid #5F7CA3;
		text-align:left;
		padding:10px 15px;
		margin:12px 0 0 0;
		font-size:14px;
                color: #fff;
		-webkit-border-radius:0;
		   -moz-border-radius:0;
				border-radius:0;
		-webkit-box-shadow:none;
		   -moz-box-shadow:none;
			
                        
	}
		#cart .btn .glyphicon-shopping-cart{
			color:#5F7CA3;
			line-height:none;
			font-size:22px;
			margin-right:10px;
			vertical-align: top;
		}
		#cart .btn span {

			font-size:16px;			
			text-transform:uppercase;
		}
		#cart .btn span#cart-total{
			color:#5F7CA3;
			padding:0 8px 0 5px;
		}
		#cart .btn i.glyphicon-caret-down{
			color:#5F7CA3;
			margin-left:5px;
		}
		#cart .dropdown-menu {
			min-width: 100%;
			margin-top:10px;
			background:#05112B;
			color:#fff;
			border:none;
			z-index: 1001;
			padding:5px;
                        border: solid 1px white;
			-webkit-border-radius:0;
			   -moz-border-radius:0;
					border-radius:0;
                      
		}
		#cart .open > .dropdown-menu{
			display:block;
		}
		#cart .dropdown-menu table {
			margin-bottom: 10px;
		}
		#cart .dropdown-menu table, 
		#cart .dropdown-menu table td{
			background:none;
			border:none;
		}
		#cart .dropdown-menu table.hcart td, 
		.line-bottom{
			border-bottom:1px solid #54575b;
		}
		.line-top, 
		.btn-block1{
			border-top:1px solid #54575b;
		}
		#cart .btn-block1{
			padding:20px 0 0;
		}
		#cart .btn-block1 a{
			padding:8px 12px;
			margin-left:10px;
			text-transform:uppercase;
			font-size:12px;
			text-decoration:none;
		}
		#cart .btn-block1 a:hover, #cart .btn-block1 a + a{
			background:#5F7CA3;
			color:#fff;
		}
		#cart .btn-block1 a, #cart .btn-block1 a + a:hover{
			background:#fff;
			color:#05112B;
		}
		#cart .dropdown-menu li > div {
			min-width: 427px;
			padding: 0 10px;
		}
		#cart .dropdown-menu li p {
			margin: 20px 0;
		}
		#cart .dropdown-menu table.total{
		}
		#cart .dropdown-menu table.total td{
			padding:2px 8px;
		}
		#cart .dropdown-menu table td a{	
			color:#5F7CA3;
		}
		#cart .dropdown-menu table td a:hover{
			color:#fff;
		}
		
/* Main Menu Styles Starts */

	#main-menu{
		text-align:center;
	}
	#main-menu.navbar{
		margin:0;
		padding:15px 0 8px;
		background:#fff;
		border:none;
		-webkit-border-radius:0;
		   -moz-border-radius:0;
				border-radius:0;
		-webkit-box-shadow:0 2px 2px 2px rgba(0, 0, 0, 0.2);
		   -moz-box-shadow:0 2px 2px 2px rgba(0, 0, 0, 0.2);
				box-shadow:0 2px 2px 2px rgba(0, 0, 0, 0.2);
	}
        #main-menu ul{
            position: relative;
            left: -2%;
        }
		#main-menu .navbar-nav > li{
                    border-left: 2px solid #05112b;
		}
                
                #main-menu .navbar-nav > li:last-child{
                border: none;
                }
		#main-menu .navbar-nav > li + li{
		}
		#main-menu .navbar-nav > li a{
			color:#05112b;
			font-size:20px;
			text-transform:uppercase;
			padding-top:10px;
			padding-bottom:10px;
			-webkit-border-radius:5px;
			   -moz-border-radius:5px;
			        border-radius:5px;
		}
		#main-menu .navbar-nav > li > a:hover, 
		#main-menu .navbar-nav > li > a:focus, 
		#main-menu .navbar-nav > li.open a{
			background:#5f7ca3 ;
			color:#fff;
		}
		#main-menu .navbar-nav > li.open > a{
			-webkit-border-radius:5px 5px 0 0;
			   -moz-border-radius:5px 5px 0 0;
					border-radius:5px 5px 0 0;
		}
			#main-menu .dropdown-menu{
				background:#5f7ca3;
				border:none;
				padding:0;
				-webkit-border-radius:0 5px 5px 5px;
				   -moz-border-radius:0 5px 5px 5px;
				        border-radius:0 5px 5px 5px;
				-webkit-box-shadow:none;
				   -moz-box-shadow:none;
				     box-shadow:none;
			}
				#main-menu .dropdown-menu li a{
					font-size:15px;
					color:#fff;
					padding-top:8px;
					padding-bottom:8px;
				}
				#main-menu .dropdown-menu li:hover a{
					background:#5f7ca3;
					text-decoration:none;
					-webkit-border-radius:0;
					   -moz-border-radius:0;
							border-radius:0;
				}
				#main-menu .dropdown-menu li:first-child:hover a{
					-webkit-border-radius:0 5px 0 0;
					   -moz-border-radius:0 5px 0 0;
							border-radius:0 5px 0 0;
				}
				#main-menu .dropdown-menu li:last-child:hover a{
					-webkit-border-radius:0 0 5px 5px;
					   -moz-border-radius:0 0 5px 5px;
							border-radius:0 0 5px 5px;
				}
					#main-menu .dropdown-inner {
						display:table;
						padding-bottom:10px;
					}
						#main-menu .dropdown-inner ul {
							display:table-cell;
						}
						#main-menu .dropdown-inner .dropdown-header{
							font-size:15px;
							text-transform:uppercase;
							color:#fff;
							padding:15px 0 10px 15px;
						}
						#main-menu .dropdown-inner li a {
							min-width:160px;
							display:block;
							padding:3px 20px;
							clear:both;
						}
						#main-menu .dropdown-menu .dropdown-inner li:last-child:hover a{
							-webkit-border-radius:0;
							   -moz-border-radius:0;
									border-radius:0;
						}
												
/* Breadcrumb Styles Starts */

	.breadcrumb{
		text-transform:uppercase;
		padding:10px 18px;
		border:1px solid #e8e8e8;
		background:#fff;
                margin: 10px 0 10px 0;
		-webkit-border-radius:0;
		   -moz-border-radius:0;
				border-radius:0;
	}
		.breadcrumb li{
			color:#878a8c;
			font-size:13px;
		}
		.breadcrumb > li + li:before{
			content:"\00BB";
			color:#878a8c;
		}
		.breadcrumb li a{
			color:#05112B;
		}
		
/* Slider Section Styles Starts */

	.slider{
		margin-bottom:30px;
	}
	
/* Three Column Banner Styles Starts */

	.col3-banners{
		margin-bottom:20px;
	}
	
/* Products Box Styles Starts */

	
        
		.product-head{
			padding: 14px 20px;
			margin:20px 0 20px;
			font-size:24px;
			background:#05112B;
			color:#fff;
			text-transform:uppercase;
		}
		.product-col{
			padding:15px 15px 10px;
			margin-bottom:20px;
			background:#fff ;
			border:1px solid #05112B;
                        min-height: 377px;
		}
                .col-md-9 .product-col{
                    min-height: 270px;
                    
                }
		.product-col.list .image{
			padding:20px 30px 10px 0;
			float:left;
                        
		}
		.product-col .caption{
			padding: 20px 0;
		}
			.product-col h4{
				font-size:18px;
				text-transform:uppercase;
			}
			.product-col .description{
				padding:5px 0;
				font-size:15px;
				line-height:18px;
				text-align:justify;
				color:#000;
			}
			.product-col.list .description{
				padding-right:20px;
			}
			.product-col .price{
				padding:10px 0;
			}
				.product-col .price .price-tax{
					font-size:14px;
					color:#212121;
					text-transform:uppercase;
				}
				.product-col .price span.price-new{
					color:#2f353b;
					font-size:24px;
					padding-right:5px;
				}
				.product-col .price span.price-old{
					font-size:18px;
					color:#808080;
					text-decoration:line-through;
				}
			.product-col .cart-button{
                            position: absolute;
                            left: 20px;
                            bottom: 25px;
			}
				.product-col .cart-button .btn{
					-webkit-border-radius:0;
					   -moz-border-radius:0;
				            border-radius:0;
				}
				.product-col .btn-wishlist, 
				.product-col .btn-compare{
					color:#fff;
					background:#05112b;
					margin-right:3px;
				}
				.product-col .btn-wishlist:hover, 
				.product-col .btn-compare:hover, 
				.product-col .btn-cart, 
				.product-col .btn-cart:hover .glyphicon {
					background:#5F7CA3;
                                        padding:0 0 0 15px;
				}
				.product-col .btn-cart{
					padding:0 0 0 15px;
					font-size:20px;
					color:#fff;
					text-transform:uppercase;
					border:none;
				}
				.product-col .btn-cart .glyphicon{
					margin-left:10px;
					padding:10px;
				}
				.product-col .btn-cart .glyphicon, 
				.product-col .btn-cart:hover{
					background:#05112b;
				}
				.product-col .cart-button.button-group .btn-cart{
					padding:5px 12px;
					font-size:17px;
				}
				.product-col .cart-button.button-group .btn-cart .glyphicon {
					margin-left:0;
					padding:0;
					background:none;
				}
                                .btn-cart{
                                    color: white;
                                    background: #5F7CA3;
                                    display:inline-block;
                                        margin-bottom: 3px;
                                }
	
/* Two Column Banner Styles Starts */

	.col2-banners{
		margin-bottom:20px;
	}
	
/* Shopping Cart Page Styles Starts */

	.shopping-cart-table{
		margin-top:30px;
		background:#fff;
		text-transform:uppercase;
                overflow-x: visible;
	}
		.shopping-cart-table thead > tr > td{
			font-size:15px;
			font-weight:600;
			border-bottom:none;
                        
		}
		.shopping-cart-table tbody > tr > td{
			font-size:16px;
                        vertical-align: middle;
		}
		.shopping-cart-table tbody > tr > td a:hover{
			color:#05112B;
		}
		
/* Compare Page Styles Starts */

	.compare-table{
		margin-top:30px;
		background:#fff;
		text-transform:uppercase;

	}
		.compare-table thead{
			background:#f9f9f9;
		}
		.compare-table thead > tr > td{
			font-size:15px;
			font-weight:600;
			border-bottom:none;
		}
		.compare-table tbody > tr > td{
			font-size:16px;
                            vertical-align: middle;
                            padding: 3px;
		}
		.compare-table tbody > tr > td a:hover{
			color:#05112B;
		}
		.compare-table td{
			text-align:center;
		}
		.compare-table .rating .glyphicon-star{
			color:#5F7CA3;
		}
	
/* Login & Registration Section Styles Starts */

	.login-area{
		padding-top:30px
	}
	.registration-area{
		padding-top:20px;
	}
	.panel-smart{
		padding:20px;
		background:#fff;

		-webkit-border-radius:0;
		   -moz-border-radius:0;
				border-radius:0;
                                
	}
		.panel-smart .panel-heading{
			padding:5px 0 15px 0;
			color:#05112B;

		}
		.panel-smart h3.panel-title{
			font-size:24px;
		}
		.panel-smart .panel-body{
			padding:20px 0 0;
		}
	.registration-area .inner{
		margin-top:30px;
		margin-bottom:20px;
	}
	.registration-area .control-label{
		color:#8b8b8b;
		font-weight:600;
	}
	.registration-area .form-control, .registration-area .btn{
		-webkit-border-radius:0;
		   -moz-border-radius:0;
		        border-radius:0;
	}
	.registration-area .dl-horizontal{
	}
		.registration-area .dl-horizontal dt{
			font-weight:normal;
		}
		.registration-area .dl-horizontal dd{
			font-weight:bold;
		}
		.registration-area .dl-horizontal dt, .registration-area .dl-horizontal dd{
			margin-bottom:5px;
		}
	.registration-area .dl-horizontal.total{
		color:#5F7CA3;
		font-size:18px;
	}
		.registration-area .dl-horizontal.total dt, 
		.registration-area .dl-horizontal.total dd{
			margin-bottom:0;
		}
		
/* Main Container Styles Starts */		

	#main-container{
		margin-bottom:35px;
	}
	#main-container-home{
		margin-bottom:0;
	}
	
/* Product Carousel Styles Starts */	
	
	.product-carousel .product-head{
	}
	.product-carousel .row{
		margin-left:-5px;
		margin-right:-5px;
	}
	.product-carousel .col-xs-12{
		padding-left:0;
		padding-right:0;
	}
    #owl-product .item{
		padding-left:5px;
		padding-right:5px;
    }
	#owl-product .owl-controls{
		margin:0;
	}
		#owl-product .owl-controls .owl-buttons div{
			position:absolute;
			background:none;
			font-size:26px;
		}	
		#owl-product .owl-controls .owl-buttons .owl-prev, 
		#owl-product .owl-controls .owl-buttons .owl-next{
			top:-61px;
			color:#fff;
		}
		#owl-product .owl-controls .owl-buttons .owl-prev{
			right:60px;
		}	 
		#owl-product .owl-controls .owl-buttons .owl-next{
			right:20px;
		}		
	
/* Category Intro Content Styles Starts */

	.cat-intro{
		padding-top:10px;
	}
		.cat-intro .img-thumbnail{
			-webkit-border-radius:0;
			   -moz-border-radius:0;
					border-radius:0;
		}
		.cat-intro .cat-body{
			color:#8b8b8b;
			font-size:13px;
			padding-left:5px;
			text-align:justify;
		}
		
/* Product Filter Styles Starts */

	.product-filter{
		margin:30px 0;
		padding:8px 0;
		border:solid #d0d0d0;
		border-width:1px 0;
	}
		.product-filter .display{
			padding-top:5px;
		}
			.product-filter .display a{
				color:#2f353b;
				font-size:24px;
				margin-right:6px;
			}
			.product-filter .display a.active{
				color:#5F7CA3;
			}
		.product-filter .control-label{
			padding-top:5px;
			font-size:18px;
			font-weight:normal;
		}
		.product-filter .form-control{
			height:30px;
			padding:3px 6px;
			-webkit-border-radius:0;
			   -moz-border-radius:0;
					border-radius:0;
		}
		
/* Side Products Lists Styles Starts */

.side-products-list{
	margin:0 0 20px;
	padding:0;
	list-style:none;
	border:1px solid #05112B;
        background: #fff;
        height: 244px;
}
.side-products-list li{
	padding:10px 15px;
}
.side-products-list li + li{
	border-top:1px solid #ddd;
}
.side-products-list .img-responsive{
    
    max-height: 64px;
    max-width: 64px;
}
	.side-products-list h5{
		margin-bottom:7px;
		font-size:16px;
                
	}
	.side-products-list h5 a{
		color:#05112B;
	}
	.side-products-list h5 a:hover{
		color:#5F7CA3;
	}
	.side-products-list img{
		margin-right:15px;
	}
	.side-products-list img, 
	.side-products-list h5,
	.side-products-list .price{
		float:left;
                
	}
	.side-products-list .price span.price-new{
		color:#5F7CA3;
		font-size:18px;
		padding-right:5px;
	}
	.side-products-list .price span.price-old{
		font-size:14px;
		color:#808080;
		text-decoration:line-through;
	}
		
/* Product Page Styles Starts */
	
	.product-info{
		padding-top:10px;
	}
		.product-info .images-block img{
                     max-height: 330px
		}
		.product-info .images-block .thumbnail{
                   
			padding:10px;
			-webkit-border-radius:0;
			   -moz-border-radius:0;
					border-radius:0;
		}
		.product-info.full .images-block .list-inline{
			margin-left:-5px;
		}
		.product-info.full .images-block .list-inline li{
			padding-left:5px;
			padding-right:5px;
		}
		.product-info .images-block .list-inline{
			margin-left:-2px;
		}
		.product-info .images-block .list-inline li{
			padding-left:2px;
			padding-right:2px;
		}
		.product-info .images-block .list-inline .thumbnail{
			padding:5px;
                        height: 131px;
                        max-width: 134px;
		}
		.product-info .product-details{
		}
		.product-info .product-details h2{
			margin-top:0;
			font-size:24px;
		}
		.product-info .product-details h3{
			font-size:22px;
		}
		.product-info .product-details h2, .product-info .product-details h3{
			text-transform:uppercase;
		}
		.product-info .product-details .manuglyphiconcturer{
			color:#808080;
			text-transform:uppercase;
		}
			.product-info .product-details .manuglyphiconcturer span{
				min-width:130px;
				display:inline-block;
				color:#2f353b;
			}
		.product-info .product-details .price{
		}
			.product-info .product-details .price-head{
				padding-right:10px;
				font-size:24px;
				color:#212121;
				text-transform:uppercase;
			}
			.product-info .product-details .price-tax{
				padding-top:5px;
				font-size:14px;
				color:#212121;
				text-transform:uppercase;
			}
			.product-info .product-details .price-new{
				color:#5F7CA3;
				font-size:24px;
				padding-right:5px;
			}
			.product-info .product-details .price-old{
				font-size:18px;
				color:#212121;
				text-decoration:line-through;
			}
		.product-info .product-details .options{
		}
			.product-info .product-details .options h3{
				margin-bottom:20px;
			}
			.product-info .product-details .options h6{
				font-weight:700;
			}
			.product-info .product-details .cart-button{
			}
				.product-info .product-details .cart-button .btn{
					-webkit-border-radius:0;
					   -moz-border-radius:0;
							border-radius:0;
				}
				.product-info .product-details .btn-wishlist, 
				.product-info .product-details .btn-compare{
					color:#fff;
					background:#05112b;
					margin-right:3px;
				}
				.product-info .product-details .btn-wishlist:hover, 
				.product-info .product-details .btn-compare:hover, 
				.product-info .product-details .btn-cart{
					background:#5F7CA3;
				}
				.product-info .product-details .btn-cart{
					font-size:14px;
					color:#fff;
					text-transform:uppercase;
				}
				.product-info .product-details .btn-cart:hover{
					color:#fff;
					background:#47a14d;
				}
	.product-info-box{
		padding-top:10px;
	}
	.product-info-box + .product-info-box{
		padding-top:30px;
	}
		.product-info-box .heading{
			padding:13px 20px;
			font-size:18px;
			color:#5F7CA3;
			text-transform:uppercase;
			background:#fff;
			border-top:1px solid #e8e8e8;
			border-right:1px solid #e8e8e8;
			border-bottom:4px solid #5F7CA3;
			border-left:1px solid #e8e8e8;
		}
		.product-info-box .content{
			color:#212121;
			font-size:13px;
		}
		
/* Tabs Styles Starts */

	.tabs-panel{
		margin-top:20px;
	}
	.tabs-panel.panel-smart{
		padding:0;
	}
		.tabs-panel .nav-tabs{
			text-transform:uppercase;
			font-size:16px;
			border-bottom:4px solid #5F7CA3;
		}
		.tabs-panel .nav-tabs > li{
			margin-bottom:0;
		}
		.tabs-panel .nav-tabs > li > a{
			color:#5F7CA3;
			margin:0; 
		}
		.tabs-panel .nav-tabs > li > a, 
		.tabs-panel .btn, 
		.tabs-panel .form-control{
			-webkit-border-radius:0;
			   -moz-border-radius:0;
			        border-radius:0;
		}
		.tabs-panel .nav-tabs > li.active > a, 
		.tabs-panel .nav-tabs > li.active > a:hover, 
		.tabs-panel .nav-tabs > li.active > a:focus, 
		.tabs-panel .nav > li > a:hover, 
		.tabs-panel .nav > li > a:focus{
			background:none;
		}
		.tabs-panel .nav-tabs > li > a, 
		.tabs-panel .nav-tabs > li.active > a, 
		.tabs-panel .nav-tabs > li.active > a:hover, 
		.tabs-panel .nav-tabs > li.active > a:focus, 
		.tabs-panel .nav-tabs > li > a:hover{
			border:none;
		}
		.tabs-panel .nav-tabs > li.active, 
		.tabs-panel .nav-tabs > li.active > a{
			background:#5F7CA3;
			color:#fff;
		}
		.tabs-panel .nav-tabs > li > a:hover{
			background:#f4f4f4;
		}
		.tabs-panel .tab-content{
			padding:20px;
			font-size:13px;
		}
		.tabs-panel label.control-label{
			text-transform:uppercase;
			font-weight:normal;
		}
		.tabs-panel label.control-label.ratings{
			padding-top:1px;
		}
		.tabs-panel .btn{
			margin-left:-10px;
		}
		
/* Pagination Styles Starts */

	.pagination{
		margin:0; 
	}
		.pagination > li > a{
			color:#444c53;
		}
		.pagination > li:first-child > a, 
		.pagination > li:first-child > span,
		.pagination > li:last-child > a, 
		.pagination > li:last-child > span{
			-webkit-border-radius:0;
			   -moz-border-radius:0;
					border-radius:0;
		}
		.pagination > .active > a, 
		.pagination > .active > span, 
		.pagination > .active > a:hover, 
		.pagination > .active > span:hover, 
		.pagination > .active > a:focus, 
		.pagination > .active > span:focus{
			background:#5F7CA3;
			border-color:#5F7CA3;
		}
	.results{
		padding-top:10px;
		text-align:right;
	}
		
/* Page Content Styles Starts */

	.page-box{
		color:#000;
		font-size:18px;
		margin-bottom:40px;
                margin-top: 30px;
	}
		.page-box h3{
			margin-bottom: 20px;;
			font-size:40px;
			color:#05112B;
		}
		.page-box h3, .page-box h4{
			text-transform:uppercase;		
		}
		.page-box h4{
			margin:5px 0 15px;
			color:#808080;
			font-size:18px;
		}
		.page-box .sm-links{
			margin-bottom:20px;
		}
			.page-box .sm-links li{
				background:#252424;
				width:34px;
				text-align:center;
				padding:5px 0 4px;
				margin:0 0 0 4px;
			}
			.page-box .sm-links li:hover {
				background:#5F7CA3;
			}
				.page-box .sm-links li a .glyphicon{
					color:#fff;
					font-size:24px;
				}
				
/* Content Box Styles Starts */

	.content-box{
		border:1px solid #e9e9e9;
		background:#fff;
		margin-top:20px;
		padding:30px;
	}
		.content-box .special-heading{
			font-size:100px;
			color:#5F7CA3;
			margin-top:0;
			margin-bottom:30px;
		}
		
/* Map Wrapper Styles Starts */

	#map-wrapper{
		border:1px solid #feffff;
		margin:20px 0;
		height:250px;
	}
		
/* Sidebar Styles Stars */

	.side-heading{
                
		margin-top:0;
		padding:12px 20px;
		font-size:18px;
		text-transform:uppercase;
		color:#fff;
		background:#383838;
	}
	.list-group, 
	.list-group-item:first-child, 
	.list-group-item:last-child{
		-webkit-border-radius:0;
		   -moz-border-radius:0;
		        border-radius:0;
	}
	.list-group-item{
		color:#05112B;
		font-size:14px;
		text-transform:uppercase;
		font-weight:bold;
	}
	.list-group.categories a.list-group-item:hover, 
	.list-group.categories a.list-group-item:focus {
		background-color:#5F7CA3;
	}
        .list-group.categories .on{
            background-color:#5F7CA3;
        }
	.list-group.categories a.list-group-item:hover, 
	.list-group.categories a.list-group-item:focus, 
	.list-group.categories a.list-group-item:hover .glyphicon, 
	.list-group.categories a.list-group-item:focus .glyphicon {
		color:#fff;
	}
	.list-group-item .glyphicon{
		font-size:12px;
		padding-right:6px;
		color:#5F7CA3;
	}
	.filter-group{
		margin-left:20px;
	}
	
/* Blockquote Styles Starts */

	.panel-smart blockquote{
		margin:0;
		padding:5px 15px;
		color:#8b8b8b;
		font-size:13px;
		border:none;
	}
	.panel-smart blockquote footer{
		padding-top:10px;
		color:#05112B;
		font-size:14px;
	}
	
/* Contact Details Box Styles Starts */
	
	.contact-details li + li{
		margin-top:20px;
	}
	.contact-details li .glyphicon{
		color:#5F7CA3;
		padding:5px 10px 0 0;
		font-size:18px;
	}

/* Footer Links Styles Starts */

	.footer-links{

		border-top:9px solid #bcbcbc;
		padding:25px 0 40px;
                background: url(../img/footer-bg.png) no-repeat;
                background-position: center;
                background-size: cover;
               
               
	}
		.footer-links h5{
			text-transform:uppercase;
			margin-bottom:20px;
		}
		.footer-links ul{
			list-style:none;
			margin:0;
			padding:0;
		}
			.footer-links li{
				padding:2px 0;
				font-size:12px;
			}
				.footer-links li, 
				.footer-links li a{
					color:#212121;
				}
				.footer-links li a:hover, 
				.footer-links .last li a{
					color:#232323;
				}
				.footer-links .last h4.lead{
					font-size:24px;
					margin-bottom:0;
					font-weight: normal;
					color:#8b8b8b;
				}
				.footer-links .last h4.lead span{
					color:#151515;
				}

/* Copyright Styles Starts */

	.copyright{
		background:#05112B;
		padding:18px 0 8px;
		font-size: 13px;
		color: #fff;
	}
		.copyright a, 
		.copyright a:hover {
			color:#5F7CA3;
		}
		.copyright p{
			padding-top:4px;
		}
		
/* Genric Styles Starts */

.product-col .description, 
.footer-links li {
	font-glyphiconmily: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
}
#main-menu.navbar {
	font-glyphiconmily: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
}
.product-col .btn-cart {
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
		 -o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
}	
.product-col .image .img-responsive{
        max-height: 180px;
        max-width: 100%;
            margin-left: 20px;
}

.carousel-inner .img-responsive{
       margin-top: 20px;
    height: 317px !important;
   width: 100%;
   
   
}
.update-cart-btn{
   cursor:pointer; 
   color:#5F7CA3;
   font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
}

.main-container{
    background: url(../img/slider-bg.jpg) no-repeat;

    background-size: cover;
}

get-offer{
    background: #3e9144;
    color: #fff;
    border-radius: 20px;
}
table li{
    min-width: 130px;
}

.glyph{
font-family: 'Glyphicons Halflings' !important;
    font-size: 24px;
    top: 6px;
}
.table-head{
    background-color: #5f7ca3;
    color: #fff;
    border-top: 2px groove #000;
}

.cart-head{
    color: #cac8c9;
    margin-top: 0px; 
}

.image{
    min-height: 200px;
}

.good{
    background-color: #167F39;
}

.td-head{
    padding: 8px;
}
.wrong{
    background-color: red;
}
.top-phone{
    color: #fff;
    margin: 0;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}



.image-side{
    margin: auto 0;
    max-width: 100%;
    max-height: 142px;
}

.no_margin{
    margin:0;
}
.sale{
    color:red;
    font-weight: bold;
}